{erl_opts, [debug_info]}.
{deps, [
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
  {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v1.5.4"}}}
]}.

{relx, [
  {
    release,
    { restaurant, "0.1.0" },
    [restaurant]
  },
  {
    sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.

{profiles,  [{
              prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]
            }]
}.

{cover_enabled, true}.
